<style>
  .spacer {
    height: 100vh;
    background-image: url("/admin_dashboard/views/assets/img/login_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
</style>
<script>
    window.onload = function() {
        function time_teller() {

            var d = new Date();
            var n = d.getHours();

            var time_teller = document.getElementById("time_teller");
            var time_teller_icon = document.getElementById("time_teller_icon");
            
            if (n < 12) {
                time_teller_icon.classList.add("fas", "fa-sun");
                time_teller.innerHTML = "Good Morning";
            } else if (n < 18) {
                time_teller_icon.classList.add("fas", "fa-cloud-sun");
                time_teller.innerHTML = "Good Afternoon";
            } else {
                time_teller_icon.classList.add("fas", "fa-moon");
                time_teller.innerHTML = "Good Evening";
            }
        }

        time_teller();
    }

    window.addEventListener("submit", function(e) {
        console.log("submit");
        e.preventDefault();
        var url = "/admin_dashboard/Login.php";
        var data = {
            Username: document.getElementById("typeEmailX-2").value,
            Password: document.getElementById("typePasswordX-2").value,
        };

        fetch("POST", url, data, function(response) {
            if (response == "success") {
                window.location.href = "/admin_dashboard/views/dashboard.php";
            } else {
                alert(response);
            }
        });
    });
</script>

<section class="vh-100 spacer">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong tween" style="border-radius: 1rem; background-color: rgba(255, 255, 255, 0.5); effect: webkit-backdrop-filter: blur(10px); backdrop-filter: blur(10px);">
          <div class="card-body p-5 text-center">
            <div class="mb-5">
                <i id="time_teller_icon"/>
                <span id="time_teller"></span>
            </div>

            <div class="form-outline mb-4">
              <input type="email" id="typeEmailX-2" class="form-control form-control-lg" placeholder="Username" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"/>
            </div>

            <div class="form-outline mb-4">
              <input type="password" id="typePasswordX-2" class="form-control form-control-lg" placeholder="Password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"/>
            </div>

            <button class="btn btn-primary btn-lg btn-block" type="submit" style='background-color: #0263b3;'>Login</button>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>