.evo-calendar {
    box-shadow: 0 10px 50px -20px #344767;
    border-radius: 10px;
}

.calendar-sidebar {
    background-color: #344767;
    box-shadow: 5px 0 18px -3px #344767;
}

.calendar-sidebar>span#sidebarToggler {
    background-color: #344767c2;
    box-shadow: 5px 0 18px -3px #344767;
}

.calendar-sidebar>.month-list>.calendar-months>li.active-month {
    background-color: #7183a1c2;
}

th[colspan="7"] {
    color: #344767;
}

th[colspan="7"]::after {
    background-color: rgb(52 71 103 / 26%);
}

#eventListToggler {
    background-color: #344767c2;
    box-shadow: 5px 0 18px -3px #65738b;
}

.event-list>.event-empty {
    background-color: rgb(52 71 103 / 21%);
    border: 1px solid #3447672e;
}

.event-list>.event-empty>p {
    color: #344767;
}

.nav-tabs {
    background-color: #EEF2F6;
    border-radius: 60px;
    height: 45px;
    line-height: 45px;
    margin: 0 auto 50px;
    max-width: 384px;
    padding: 0;
    width: 100%;
  }

.nav-link {
    border: 1px solid transparent;
    color: #1A3760;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    height: 35px;
    line-height: 16px;
    letter-spacing: 0em;
    margin: 5px 3px;
    padding: 7px 27px;
    text-transform: capitalize;
    text-align: left;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

.calendar-table > tbody > tr.calendar-body > td {
    border: 1px solid #3447672e;
}

td {
    display: table-cell;
    vertical-align: top !important;
}

.no-event:hover {
    background-color: #fff !important;
    pointer-events: none !important;
}

.spanned-event {
    animation: event 0.5s ease-in-out;
}

@keyframes event {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

.input-panel {
    position: sticky;
    top: 0;
    z-index: 999;
}

.input-panel.sticky {
    position: fixed;
    width: 100%;
}