{% for order in orders %}
    <tr>
        <td>{{ order.rental_date }}</td>
    </tr>
{% endfor %}

<link rel="stylesheet" href="/admin_dashboard/views/orders/orders.css">
<div id="calendar"></div>

<script>
    $("#calendar").evoCalendar({
        'eventDisplayDefault': false,
        'sidebarDisplayDefault': false
    });

    $('#calendar').on('selectDate', function(event, newDate, oldDate) {
        $("#calendar").evoCalendar('toggleEventList', newDate);
    });
</script>