.modal-content {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .modal.fade .modal-dialog {
    transform: scale(0.8);
    opacity: 0;
    transition: all 0.3s ease;
  }
  
  .modal.fade.show .modal-dialog {
    transform: scale(1);
    opacity: 1;
  }
  
  .modal-open .modal-backdrop {
      backdrop-filter: blur(0px);
      opacity: 0;
      transition: backdrop-filter 0.3s ease, background-color 0.3s ease, opacity 0.3s ease;
  }
  
  .modal-open .modal-backdrop.show {
      backdrop-filter: blur(5px);
      background-color: rgba(0, 0, 0, 0.4);
      opacity: 1;
  }
  
  .customer-info {
    transition: background-color 0.3s ease, border 0.3s ease, color 0.3s ease;
  }
  
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  .customer-info.editing {
    animation: fadeIn 0.3s ease;
  }
  
  .form-control {
    margin-left: 10px;
    width: 250px;
  }
  
  @media (min-width: 768px) {
    .form-control {
      max-width: 200px;
    }
  }
  
  .form-row {
    display: flex;
    justify-content: space-between;
  }
  
  .text-muted {
    font-size: 12px;
    margin-left: 10px;
    align-self: center;
  }