<div class="row">
  <div class="col">
    <h3>hello world</h3>
    <p>Lorem ipsum</p>
  </div>
  <div class="col">
    <canvas id="myChart"></canvas>
  </div>
</div>

<script>
  fetch('/admin_dashboard/index.php/api/cars/', {
    method: 'GET',
    headers: {
      'Content-Type': 'application/json'
    }
  })
  .then(response => response.json())
  .then(data => {
    console.log(data);
  }).catch((error) => {
    console.error('Error:', error);
  });

  const ctx = document.getElementById('myChart');

  {# new Chart(ctx, {
    type: 'bar',
    data: {
      labels: [{% for label in vars.data['labels'] %}'{{label}}',{% endfor %}],
      datasets: [{
        label: '{{vars.data.datasets["label"]}}',
        data: [{% for data in vars.data.datasets["data"] %}'{{data}}',{% endfor %}],
        borderWidth: {{vars.data.datasets["borderWidth"]}},
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true,
        }
      }
    }
  }); #}
</script>