<div class="row">
  <div class="col">

    <div id="cards" class="row">

      <div class="col mt-3">
        <div class="card" style="height: 10rem; width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Revenue</h5>
            <canvas id="revenueMonth"></canvas>
          </div>
        </div>
      </div>

      <div class="col mt-3">
        <div class="card" style="height: 10rem; width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Revenue</h5>
            <canvas id="revenueTotal"></canvas>
          </div>
        </div>
      </div>

      <div class="col mt-3">
        <div class="card" style="height: 10rem; width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Revenue</h5>
            <canvas id="uniqueCustomers"></canvas>
          </div>
        </div>
      </div>

    </div>

  </div>
  <div class="col">
    <canvas id="myChart"></canvas>
    <div id="loading">
      <div class="spinner-border text-primary" role="status">
        <span class="sr-only"></span>
      </div>
    </div>
  </div>
</div>

<script src="/admin_dashboard/views/dashboard/fetchCarData.js"></script>
<script src="/admin_dashboard/views/dashboard/fetchCardData.js"></script>