<div class="row">
  <div class="col">
    <!-- Column -->
    <div id="cards" class="row">
      <!-- Row -->
      <!-- Revenue / Month -->
      <div class="col mt-3">
        <div class="card" style="height: 13rem; width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Revenue / Month</h5>
            <div id="loading">
              <div class="spinner-border text-primary" role="status">
                <span class="sr-only"></span>
              </div>
            </div>
            <canvas id="revenueMonth"></canvas>
          </div>
        </div>
      </div>

      <!-- Total / Revenue -->
      <div class="col mt-3">
        <div class="card" style="height: 6rem; width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Total Revenue</h5>
            <div id="loading">
              <div class="spinner-border text-primary" role="status">
                <span class="sr-only"></span>
              </div>
            </div>
            <div id="revenueDependencies" style="display: none; align-items: center;">
              <h3 id="revenueTotal"></h3>
              <h5 style="margin-left: 10px">{{currency}}</h5>
              <h5 id="revenueGrowth" style="margin-left: auto; color: lightgreen"></h5>
            </div>
          </div>
        </div>
      </div>

      <!-- Unique Customers this month -->
      <div class="col mt-3">
        <div class="card" style="height: 8rem; width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Unique customers this month</h5>
            <div style="display: flex; align-items: center;">
              <h3 id="uniqueCustomersThisMonth"></h3>
              <h5 id="customerGrowth" style="margin-left: auto; color: lightgreen"></h5>
            </div>
            <div id="loading">
              <div class="spinner-border text-primary" role="status">
                <span class="sr-only"></span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Unique Customers all time -->
      <div class="col mt-3">
        <div class="card" style="height: 7rem; width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Unique customers</h5>
            <div style="display: flex; align-items: center;">
              <h3 id="uniqueCustomers"></h3>
              <h5 id="uniqueCustomerGrowth" style="margin-left: auto; color: lightgreen"></h5>
            </div>
            <div id="loading">
              <div class="spinner-border text-primary" role="status">
                <span class="sr-only"></span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- /Row -->
    </div>
    <!-- /Column -->
  </div>
  <!-- /Row -->
  <div class="col">
    <canvas id="myChart"></canvas>
    <div id="loading">
      <div class="spinner-border text-primary" role="status">
        <span class="sr-only"></span>
      </div>
    </div>
  </div>
</div>

<script src="/admin_dashboard/views/dashboard/revenue.js"></script>
<script src="/admin_dashboard/views/dashboard/fetchCarData.js"></script>
<script src="/admin_dashboard/views/dashboard/fetchCardData.js"></script>