<style>
.modal-content {
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.modal.fade .modal-dialog {
  transform: scale(0.8);
  opacity: 0;
  transition: all 0.3s ease;
}

.modal.fade.show .modal-dialog {
  transform: scale(1);
  opacity: 1;
}

.modal-open .modal-backdrop {
    backdrop-filter: blur(0px);
    opacity: 0;
    transition: backdrop-filter 0.3s ease, background-color 0.3s ease, opacity 0.3s ease;
}

.modal-open .modal-backdrop.show {
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 1;
}
</style>

<div class="container">

	<div class="row">
		<div class="col">
			<div class="card">
        <div class="card-header pb-0">
            <h6>Unread Messages</h6>
        </div>
				<div class="card-body pt-4 p-3">
				<ul class="list-group" id="list-group">
					<p class="text-center" id="noMessage">No messages</p>
				</ul>
				</div>
			</div>
		</div>
	</div>

    <div class="row mt-5">
		<div class="col">
			<div class="card">
        <div class="card-header pb-0">
            <h6>Archived Messages</h6>
        </div>
				<div class="card-body pt-4 p-3">
				<ul class="list-group" id="message-archive">
					<p class="text-center" id="noArchivedMessage">No archived messages</p>
				</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="loading" class="modal-body text-center">
                <div class="spinner-border text-primary" role="status">
                    <span class="sr-only"></span>
                </div>
            </div>
            <div class="modal-body" id="modalBody"style="display: none"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="isPrevious"></button>
            </div>
        </div>
    </div>
</div>


<script src="/admin_dashboard/views/messages/messages.js"></script>
<script>
  let messages = new Messages();
  messages.fetchUnreadMessages().then(function(messages) {
    if (Object.keys(messages).length != 0) document.getElementById('noMessage').style.display = 'none';
    Object.keys(messages).forEach(function(key) {
        let message = JSON.parse(messages[key].data);
        let messageID = messages[key].id;
        let data = message.data[0];
        let sender = message.senders[0];

        const options = { year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit' };
        const formattedDate = new Date(data.timestamp).toLocaleString('en-US', options);

        let listGroup = document.getElementById('list-group');

        let li = document.createElement('li');
        li.className = 'list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg';
        li.innerHTML = `
            <div class="d-flex flex-column">
                <h6 class="mb-3 text-sm">${sender.name} ${sender.lastname}</h6>
                <span class="mb-2 text-xs">Phone Number: <a href="tel:${sender.phone}" class="text-dark font-weight-bold ms-sm-2">${sender.phone}</a></span>  
                <span class="mb-2 text-xs">Email Address: <a href="mailto:${sender.email}" class="text-dark ms-sm-2 font-weight-bold">${sender.email}</a></span>
                <span class="text-xs">Sent at: <span class="text-dark ms-sm-2 font-weight-bold">${formattedDate}</span></span>
            </div>
            <div class="ms-auto text-end">
                <a class="btn btn-link text-dark px-3 mb-0" href="javascript:;" onclick="messages.markAsRead(${messageID})"><i class="fas fa-check text-dark me-2" aria-hidden="true"></i>Mark as read</a>
                <a class="btn btn-link text-dark px-3 mb-0" href="javascript:;" data-bs-toggle="modal" data-bs-target="#modal" onclick="loadMessage(${messageID})"><i class="fas fa-eye text-dark me-2" aria-hidden="true"></i>View</a>
                <a class="btn btn-link text-danger text-gradient px-3 mb-0" href="javascript:;" onclick="deleteMessage(${messageID})"><i class="far fa-trash-alt me-2"></i>Delete</a>
            </div>
        `;
        listGroup.appendChild(li);
    });
  });

  messages.fetchArchivedMessages().then(function(messages) {
    if (Object.keys(messages).length != 0) document.getElementById('noArchivedMessage').style.display = 'none';
    Object.keys(messages).forEach(function(key) {
        let message = JSON.parse(messages[key].data);
        let messageID = messages[key].id;
        let data = message.data[0];
        let sender = message.senders[0];

        const options = { year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit' };
        const formattedDate = new Date(data.timestamp).toLocaleString('en-US', options);

        let listGroup = document.getElementById('message-archive');

        let li = document.createElement('li');
        li.className = 'list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg';
        li.innerHTML = `
            <div class="d-flex flex-column">
                <h6 class="mb-3 text-sm">${sender.name} ${sender.lastname}</h6>
                <span class="mb-2 text-xs">Phone Number: <a href="tel:${sender.phone}" class="text-dark font-weight-bold ms-sm-2">${sender.phone}</a></span>  
                <span class="mb-2 text-xs">Email Address: <a href="mailto:${sender.email}" class="text-dark ms-sm-2 font-weight-bold">${sender.email}</a></span>
                <span class="text-xs">Sent at: <span class="text-dark ms-sm-2 font-weight-bold">${formattedDate}</span></span>
            </div>
            <div class="ms-auto text-end">
                <a class="btn btn-link text-dark px-3 mb-0" href="javascript:;" onclick="messages.markAsUnread(${messageID})"><i class="fas fa-check text-dark me-2" aria-hidden="true"></i>Mark as unread</a>
                <a class="btn btn-link text-dark px-3 mb-0" href="javascript:;" data-bs-toggle="modal" data-bs-target="#modal" onclick="loadMessage(${messageID})"><i class="fas fa-eye text-dark me-2" aria-hidden="true"></i>View</a>
                <a class="btn btn-link text-danger text-gradient px-3 mb-0" href="javascript:;" onclick="deleteMessage(${messageID})"><i class="far fa-trash-alt me-2"></i>Delete</a>
            </div>
        `;
        listGroup.appendChild(li);
    });
  });

function loadMessage(id) {
  messages.fetchMessage(id).then(function(m) {
      let message = JSON.parse(m[0].data);
      let data = message.data[0];
      let sender = message.senders[0];

      const options = { year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit' };
      const formattedDate = new Date(data.timestamp).toLocaleString('en-US', options);
      console.log(data);

      document.getElementById('modalLabel').innerHTML = sender.name + ' ' + sender.lastname;
      document.getElementById('modalBody').innerHTML = `
        <div class="d-flex flex-column">
            <span class="mb-2 text-xs">Phone Number: <a href="tel:${sender.phone}" class="text-dark font-weight-bold ms-sm-2">${sender.phone}</a></span>  
            <span class="mb-2 text-xs">Email Address: <a href="mailto:${sender.email}" class="text-dark ms-sm-2 font-weight-bold">${sender.email}</a></span>
            <span class="text-xs">Sent at: <span class="text-dark ms-sm-2 font-weight-bold">${formattedDate}</span></span>
        </div>
        <hr>
        <h6 class="mb-3 text-sm">Message from: ${data.origin}</h6>
        <p>${data.content}</p>
      `;

      document.getElementById('loading').style.display = 'none';
      document.getElementById('modalBody').style.display = 'block';

    messages.isPreviousCustomer(sender).then(function(isPrevious) {
      if (isPrevious) {
        document.getElementById('isPrevious').innerHTML = 'View Customer';
        document.getElementById('isPrevious').className = 'btn btn-primary';
        document.getElementById('isPrevious').onclick = function() {
          window.location.href = '/admin_dashboard/index.php/view/customers/' + isPrevious[0].id;
        }
      } else {
        document.getElementById('isPrevious').innerHTML = 'Create Customer';
        document.getElementById('isPrevious').className = 'btn btn-success';
        document.getElementById('isPrevious').onclick = function() {
              fetch('/admin_dashboard/index.php/api/customers/edit/', {
                  method: 'POST',
                  headers: {
                      'Content-Type': 'application/json'
                  },
                  body: JSON.stringify({
                      firstname: sender.name,
                      lastname: sender.lastname,
                      phone_number: sender.phone,
                      email: sender.email
                  })}).then(function(response) {
                      return response.json();
                  }).then(function(data) {
                      if (JSON.parse(data).status) {
                        alertify.notify(JSON.parse(data).message, 'success', 5);
                        setTimeout(function() {
                          document.getElementById('modalBody').innerHTML = '';
                          document.getElementById('loading').style.display = 'block';
                          setTimeout(function() {
                            loadMessage(id);
                          }, 300);
                        }, 1000);
                      } else {
                          alertify.error(JSON.parse(data).message);
                      }
                  }
              );
          }
      }
    });
  });
}

function deleteMessage(id) {
  messages.deleteMessage(id).then(function(response) {
    if (JSON.parse(response).status) {
      alertify.notify(JSON.parse(response).message, 'success', 5);
      setTimeout(function() {
        window.location.reload();
      }, 1000);
    } else {
      alertify.notify(JSON.parse(response).message, 'error', 5);
      setTimeout(function() {
        window.location.reload();
      }, 1000);
    }
  });
}
</script>