<div class="container">
    <table class="table" id="message-container">
        <thead>
            <tr>
                <th>Message</th>
                <th>Time</th>
                <th>Sender</th>
                <th>Contact</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="messages">
        </tbody>
    </table>
</div>

<script src="/admin_dashboard/views/messages/messages.js"></script>
<script>
    let messages = new Messages();
    messages.fetchMessages().then(function(messages) {
        Object.keys(messages).forEach(function(key) {
            let message = JSON.parse(messages[key].data);
            let data = message.data[0];
            let sender = message.senders[0];

            const options = { year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit' };
            const formattedDate = new Date(data.timestamp).toLocaleString('en-US', options);

            let tableRow = document.createElement('tr');
            tableRow.innerHTML = `
                <td>${data.content}</td>
                <td>${formattedDate}</td>
                <td>${sender.name} (${sender.lastname})</td>
                <td><a href="mailto:${sender.email}">${sender.email}</a> <br> <a href="tel:${sender.phone}">${sender.phone}</a></td>
                <td><button class="btn btn-primary">View</button></td>
            `;

            document.getElementById('messages').appendChild(tableRow);
        });
    });
</script>